 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/f1ab6d53b9619580637ea18a6e3944ce2bcd02ff63a6c221a151ba3b476d01fe4a40fdb6f0d83d301842b37dd2a111cb49caf90ccf6457d991e001_1280-14.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-table-1 {
  margin: 60px auto 60px 0;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-block-1ed0-4 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-1 {
  background-image: linear-gradient(to right, #e9f2fa, white);
  font-weight: 700;
}

.u-section-1 .u-table-cell-2 {
  background-image: linear-gradient(to right, white, #e9f2fa);
  font-weight: 700;
}

.u-section-1 .u-table-cell-3 {
  background-image: linear-gradient(to right, #e9f2fa, white);
  font-weight: 700;
}

.u-section-1 .u-table-cell-4 {
  background-image: linear-gradient(to right, #e9f2fa, white);
  font-weight: 700;
}

.u-section-1 .u-table-cell-5 {
  background-image: linear-gradient(to right, white, #e9f2fa);
  font-weight: 700;
}

.u-section-1 .u-table-cell-6 {
  background-image: linear-gradient(to right, #e9f2fa, white);
  font-weight: 700;
}

.u-section-1 .u-table-cell-7 {
  background-image: linear-gradient(to right, #e9f2fa, white);
}

.u-section-1 .u-table-cell-8 {
  background-image: linear-gradient(to right, white, #e9f2fa);
}

.u-section-1 .u-table-cell-9 {
  background-image: linear-gradient(to right, #e9f2fa, white);
}

.u-section-1 .u-table-cell-10 {
  background-image: linear-gradient(to right, #e9f2fa, white);
}

.u-section-1 .u-table-cell-11 {
  background-image: linear-gradient(to right, white, #e9f2fa);
}

.u-section-1 .u-table-cell-12 {
  background-image: linear-gradient(to right, #e9f2fa, white);
}

.u-section-1 .u-table-cell-13 {
  background-image: linear-gradient(to right, #e9f2fa, white);
}

.u-section-1 .u-table-cell-14 {
  background-image: linear-gradient(to right, white, #e9f2fa);
}

.u-section-1 .u-table-cell-15 {
  background-image: linear-gradient(to right, #e9f2fa, white);
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }
}