doctype html
html(style='font-size: 16px;')
  head
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(charset='utf-8')
    meta(name='keywords' content='About Us')
    meta(name='description' content='')
    meta(name='page_type' content='np-template-header-footer-from-plugin')
    title Info
    link(rel='stylesheet' href='nicepage.css' media='screen')
    link(rel='stylesheet' href='Info.css' media='screen')
    script(class='u-script' type='text/javascript' src='jquery-1.9.1.min.js' defer='')
    script(class='u-script' type='text/javascript' src='nicepage.js' defer='')
    meta(name='generator' content='Nicepage 3.29.3, nicepage.com')
    link#u-theme-google-font(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i')
    script(type='application/ld+json').
      {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "",
      "logo": "images/runX-logos_transparent.png"
      }
    meta(name='theme-color' content='#478ac9')
    meta(property='og:title' content='Info')
    meta(property='og:type' content='website')
    body.u-body
      header#sec-aaab.u-clearfix.u-header.u-header
        .u-clearfix.u-sheet.u-sheet-1
          a.u-image.u-logo.u-image-1(href='/' data-image-width='1080' data-image-height='1080' title='home')
            img.u-logo-image.u-logo-image-1(src='images/runX-logos_transparent.png')
          nav.u-menu.u-menu-dropdown.u-offcanvas.u-menu-1
            .menu-collapse(style='font-size: 1rem; letter-spacing: 0px;')
              a.u-button-style.u-custom-left-right-menu-spacing.u-custom-padding-bottom.u-custom-top-bottom-menu-spacing.u-nav-link.u-text-active-palette-1-base.u-text-hover-palette-2-base(href='#')
                svg
                  use(xlink:href='#menu-hamburger')
                svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
                  defs
                    symbol#menu-hamburger(viewBox='0 0 16 16' style='width: 16px; height: 16px;')
                      rect(y='1' width='16' height='2')
                      rect(y='7' width='16' height='2')
                      rect(y='13' width='16' height='2')
            .u-custom-menu.u-nav-container
              ul.u-nav.u-unstyled.u-nav-1
                li.u-nav-item
                  a.u-button-style.u-nav-link.u-text-active-palette-1-base.u-text-hover-palette-2-base(href='/' style='padding: 10px 20px;') Home
                li.u-nav-item
                  a.u-button-style.u-nav-link.u-text-active-palette-1-base.u-text-hover-palette-2-base(href='/info' style='padding: 10px 20px;') Info
                li.u-nav-item
                  a.u-button-style.u-nav-link.u-text-active-palette-1-base.u-text-hover-palette-2-base(href='/about' style='padding: 10px 20px;') About us
            .u-custom-menu.u-nav-container-collapse
              .u-black.u-container-style.u-inner-container-layout.u-opacity.u-opacity-95.u-sidenav
                .u-inner-container-layout.u-sidenav-overflow
                  .u-menu-close
                  ul.u-align-center.u-nav.u-popupmenu-items.u-unstyled.u-nav-2
                    li.u-nav-item
                      a.u-button-style.u-nav-link(href='/' style='padding: 10px 20px;') Home
                    li.u-nav-item
                      a.u-button-style.u-nav-link(href='/info' style='padding: 10px 20px;') Info
                    li.u-nav-item
                      a.u-button-style.u-nav-link(href='/about' style='padding: 10px 20px;') About us
              .u-black.u-menu-overlay.u-opacity.u-opacity-70
      section#sec-3981.u-clearfix.u-section-1
        .u-clearfix.u-expanded-width.u-gutter-0.u-layout-wrap.u-layout-wrap-1
          .u-gutter-0.u-layout
            .u-layout-row
              .u-container-style.u-image.u-layout-cell.u-size-60.u-image-1(data-image-width='1280' data-image-height='853')
                .u-container-layout.u-container-layout-1
                  h2.u-text.u-text-default.u-text-1 Context
                  .u-container-style.u-group.u-shape-rectangle.u-group-1
                    .u-container-layout
                  p.u-text.u-text-7
                    ul.first(style='color:White')
                      li Physical exercise is an important part of people's lives, specially to those who are Personal Trainers;
                      br
                      li With the COVID-19 pandemic, it became harder for people to go to the gym, and for PT's to do their job;
                      br
                      li Given the technology available, it is possible for an application to be developed that provides guidance towards physical exercise, supported by remote communication.
                  h2.u-text.u-text-default.u-text-1 Problem
                    .u-container-style.u-group.u-shape-rectangle.u-group-1
                      .u-container-layout
                  p.u-text.u-text-7
                    ul.first(style='color:White')
                      li Usually, applications that help with practising physical exercise at home do not create a line of communication between the users and one or several instructors;
                      br
                      li If an app was created from the Personal Trainer's point of view, could the interaction between them and their clients be facilitated?
                  h2.u-text.u-text-default.u-text-1 Objectives
                    .u-container-style.u-group.u-shape-rectangle.u-group-1
                      .u-container-layout
                  p.u-text.u-text-7
                    ul.first(style='color:White')
                      li Assist people practising physical exercise outside of a gym, with an instructor's insight in mind:
                        ul(style='font-weight: 550')
                          li Create a database with multiple exercises, and their details;
                          li Develop an API for the applications;
                          li Develop mobile and desktop applications, with the possibility of remote communication between users and trainers.
                  h2.u-text.u-text-default.u-text-1 Expected results
                    .u-container-style.u-group.u-shape-rectangle.u-group-1
                      .u-container-layout
                  p.u-text.u-text-7
                    ul.first(style='color:White')
                      li Mobile and desktop applications that allow:
                        ul(style='font-weight: 550')
                          li The instructor to provide a service to their client;
                          li Instructor-Client interaction;
                          li Friendly competition between clients;
                      li Integration of mobile devices (smartwatch, fitbit, etc.) with the applications.
                  h2.u-text.u-text-default.u-text-1 Communication Plan
                    .u-container-style.u-group.u-shape-rectangle.u-group-1
                      .u-container-layout
                  p.u-text.u-text-7
                    ul.first(style='color:White')
                      li Intragroup:
                        ul(style='font-weight: 550')
                          li Discord;
                          li Face-to-face and remote meetings;
                    ul.first(style='color:White')
                      li Group - Advisors:
                        ul(style='font-weight: 550')
                          li Face-to-face and remote meetings;
                    ul.first(style='color:White')
                      li Repository and version control:
                        ul(style='font-weight: 550')
                          li GitHub;
                    ul.first(style='color:White')
                      li Website with information about the project.
                  h2.u-text.u-text-default.u-text-1 Task List
                    .u-container-style.u-group.u-shape-rectangle.u-group-1
                      .u-container-layout
                  p.u-text.u-text-7
                    ul.first(style='color:White')
                      li API:
                        ul(style='font-weight: 550')
                          li Diogo Maduro;
                          li Filipe Pires;
                      li Database and Mobile Front-End:
                        ul(style='font-weight: 550')
                          li António Ferreira;
                          li Luís Couto;
                      li Desktop Front-End:
                        ul(style='font-weight: 550')
                          li Francisco Teixeira.
                  h2.u-text.u-text-default.u-text-1 Project Calendar
                    .u-container-style.u-group.u-shape-rectangle.u-group-1
                      .u-container-layout
                  p.u-text.u-text-7
                    .u-container-style.u-image.u-layout-cell.u-size-60.u-image-1(data-image-width='1280' data-image-height='853')
                      img.u-logo-image.u-logo-image-1(src='images/ProjectCalendar.png', width='1184', height='572')
                    
                  
                              
                            
                          
      footer#sec-5646.u-align-center.u-clearfix.u-footer.u-grey-80.u-footer
        .u-clearfix.u-sheet.u-sheet-1
          p.u-text.u-text-body-alt-color.u-text-3 This website serves to present our project, runX, made for the PECI course     
