doctype html
html(style='font-size: 16px;')
  head
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(charset='utf-8')
    meta(name='keywords' content='Info')
    meta(name='description' content='')
    meta(name='page_type' content='np-template-header-footer-from-plugin')
    title Contact
    link(rel='stylesheet' href='nicepage.css' media='screen')
    link(rel='stylesheet' href='Info.css' media='screen')
    script(class='u-script' type='text/javascript' src='jquery-1.9.1.min.js' defer='')
    script(class='u-script' type='text/javascript' src='nicepage.js' defer='')
    meta(name='generator' content='Nicepage 3.29.3, nicepage.com')
    link#u-theme-google-font(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i')
    script(type='application/ld+json').
      {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "",
      "logo": "images/runX-logos_transparent.png"
      }
    meta(name='theme-color' content='#478ac9')
    meta(property='og:title' content='Contact')
    meta(property='og:type' content='website')
  body.u-body
    header#sec-aaab.u-clearfix.u-header.u-header
      .u-clearfix.u-sheet.u-sheet-1
        a.u-image.u-logo.u-image-1(href='/' data-image-width='1080' data-image-height='1080' title='home')
          img.u-logo-image.u-logo-image-1(src='images/runX-logos_transparent.png')
        nav.u-menu.u-menu-dropdown.u-offcanvas.u-menu-1
          .menu-collapse(style='font-size: 1rem; letter-spacing: 0px;')
            a.u-button-style.u-custom-left-right-menu-spacing.u-custom-padding-bottom.u-custom-top-bottom-menu-spacing.u-nav-link.u-text-active-palette-1-base.u-text-hover-palette-2-base(href='#')
              svg
                use(xlink:href='#menu-hamburger')
              svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
                defs
                  symbol#menu-hamburger(viewBox='0 0 16 16' style='width: 16px; height: 16px;')
                    rect(y='1' width='16' height='2')
                    rect(y='7' width='16' height='2')
                    rect(y='13' width='16' height='2')
          .u-custom-menu.u-nav-container
            ul.u-nav.u-unstyled.u-nav-1
              li.u-nav-item
                a.u-button-style.u-nav-link.u-text-active-palette-1-base.u-text-hover-palette-2-base(href='/' style='padding: 10px 20px;') Home
              li.u-nav-item
                a.u-button-style.u-nav-link.u-text-active-palette-1-base.u-text-hover-palette-2-base(href='/info' style='padding: 10px 20px;') Info
              li.u-nav-item
                a.u-button-style.u-nav-link.u-text-active-palette-1-base.u-text-hover-palette-2-base(href='/about' style='padding: 10px 20px;') About us
          .u-custom-menu.u-nav-container-collapse
            .u-black.u-container-style.u-inner-container-layout.u-opacity.u-opacity-95.u-sidenav
              .u-inner-container-layout.u-sidenav-overflow
                .u-menu-close
                ul.u-align-center.u-nav.u-popupmenu-items.u-unstyled.u-nav-2
                  li.u-nav-item
                    a.u-button-style.u-nav-link(href='/' style='padding: 10px 20px;') Home
                  li.u-nav-item
                    a.u-button-style.u-nav-link(href='/' style='padding: 10px 20px;') Info
                  li.u-nav-item
                    a.u-button-style.u-nav-link(href='/about' style='padding: 10px 20px;') About us
            .u-black.u-menu-overlay.u-opacity.u-opacity-70
    section#sec-3981.u-clearfix.u-section-1
      .u-clearfix.u-expanded-width.u-gutter-0.u-layout-wrap.u-layout-wrap-1
        .u-gutter-0.u-layout
          .u-layout-row
            .u-container-style.u-image.u-layout-cell.u-size-60.u-image-1(data-image-width='1280' data-image-height='853')
              .u-container-layout.u-container-layout-1
                h2.u-text.u-text-default.u-text-1
                .u-container-style.u-group.u-shape-rectangle.u-group-1
                  .u-container-layout
                p.u-text.u-text-7
                                    
    footer#sec-5646.u-align-center.u-clearfix.u-footer.u-grey-80.u-footer
      .u-clearfix.u-sheet.u-sheet-1
        p.u-text.u-text-body-alt-color.u-text-3 This website serves to present our project, runX, made for the PECI course
