.u-section-1 {
  background-image: linear-gradient(rgba(48, 3, 252, 0.4), rgba(153, 7, 250, 0.4)),
  url("images/nelson-ndongala-N_5HGZdo4QU-unsplash.jpg");
  width: 150%;
  background-position: top;
  background-size: cover;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  min-height: 948px;
  background-image: url("images/gb46174c3d555f9102fdc24bfb417fbdbb2b5b0fa68df4e831980dea1257fa941c9392db214294f15046da36f34084fdf1db18a1a589dc863cdfc1d1d884e3bfa_1280.jpg");
  background-position: 50% 50%;
}
.u-section-1 .u-container-layout-1 {
  padding: 0 0 18px;
}

.u-section-1 .u-text-1 {
  color: #FFFFFFFF;
  margin: 115px auto 0 104px;
  font-weight: 700;
}

.u-section-1 .u-group-1 {
  width: 368px;
  min-height: 723px;
  margin: -87px 131px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: -105px 0 0 171px;
}

.u-section-1 .u-text-3 {
  margin: 72px 0 0 171px;
}

.u-section-1 .u-text-4 {
  margin: 42px 0 0 171px;
}

.u-section-1 .u-text-5 {
  margin: 37px 0 0 171px;
}

.u-section-1 .u-text-6 {
  margin: 32px 0 0 171px;
}

.u-section-1 .u-text-7 {
  color: #FFFFFFFF;
  margin: -588px 941px 0 163px;
  width: 1000px;
  font-weight: 700;
}

.u-section-1 .u-image-2 {
  background-image: url("images/ProjectCalendar.jpg");
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 706px;
  }

  .u-section-1 .u-image-1 {
    min-height: 782px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 841px;
    margin-left: 63px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 541px;
  }

  .u-section-1 .u-image-1 {
    min-height: 599px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 684px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 406px;
  }

  .u-section-1 .u-image-1 {
    min-height: 449px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 504px;
    margin-left: 10%;
  }
}

ul.first{
  margin-top: 0;
  margin-left: 6%;
  width: 1200px;
  font-weight: 600;
  font-size: 130%;
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 256px;
  }

  .u-section-1 .u-image-1 {
    min-height: 283px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 143px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 143px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 143px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 143px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 143px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 304px;
  }
}
